.learning-pic{
    /*width: 90%;*/
    display: grid;
    grid-template-columns: (4, 1fr);
    grid-template-columns: auto auto auto auto;
    grid-gap; 2rem;
    margin; 50px auto;
    height: 300px;
    
    

}

.learning-pic .pic img{
    object-fit: cover;
    
}

/*@media screen and (max-width:900px){
    .learning-pic .pic{
         grid-template-columns: repeat(3, 1fr);
    }
}*/


The section of the media query */
@media screen and (max-width:768px){
    .learning-pic .pic{
         grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:600px){
    .learning-pic .pic{
         grid-template-columns: 1fr;
    }
}*/


















