*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 60px 60px;
    background: #fff;
}
body .container{
    max-width: 700px ;
    width: 100%;
    background: #e8edf2;
    padding: 25px 30px;
    border-radius: 5px;
}
.container .title{
    font-size: 25px;
    font-weight: 400;
    color: #F16051;
    position: relative;
}
.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
form .user-details .input-box{
    margin: 20px 0 12px 0;
    width: calc(100% / 2 - 20px);
}
.user-details .input-box .details{
    display: block;
    font-weight: 400;
    margin-bottom: 5px;
}
.user-details .input-box input{
    height: 40px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
}
form .button{
    padding-bottom: 40px;
}
form .button input{
    height: 45px;
}
form .button input{
    width: 100%;
    outline: none;
    color: #fff;
    border: 1.62115px solid rgba(0, 0, 0, 0.29);;
    font-size: 20px;
    font-weight: 400;
    border-radius: 5px;
    letter-spacing: 1px;
    background: #2EA2DB;
}
form .button input:hover{
    background: #F16051;
}