* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.form-container {
    position: absolute;
    width: 679px;
    justify-content: center;
    height: 800px;
    left: 380px;
    top: 140px;
    background:var(--light);
    margin-bottom:50px;
}

.form-container h1{
    position: absolute;
    width: 559px;
    height: 39px;
    left: 30px;
    top: 37px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 39px;
    /* identical to box height */


    color: var(--secondary);
}

.form-container hr {
    position: absolute;
    width: 600px;
    height: 0px;
    left: 30px;
    top: 80px;

    border: 1px solid  var(--black);
}

.form-container p {
    position: absolute;
    width: 216px;
    height: 30px;
    left: 30px;
    top: 100px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;

    color: #193651;

}

/* Style inputs */
.form-content {
    position: absolute;
    left: 30px;
    top: 150px;
}

.form-content .form-right{
    width: 50%;
    float: left;
}
.form-content .form-left{
    width: 50%;
    float: right;
}

   input[type=text], input[type=email], input[type=password], select {
    width: 90%;
    top: 150px;
    padding: 12px 20px;
    margin: 8px 0;
    display: flex;
    border: 1px solid var(--deep-light);
    border-radius: 4px;
    box-sizing: border-box;
  } 
  
  /* Style the submit button */
  input[type=submit] {
    width: 95%;
    left: 30px;
    background:var(--primary);
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
    color:var(--white);
    padding: 14px 10px;
    margin: 30px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  } 
  
  /* Add a background color to the submit button on mouse-over */
 .submit-btn > input[type=submit]:hover {
    background:var(--primary);
  }
.form-container h2 {
    margin-top: 500px;
    text-align: center;
    height: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color:var(--tetiary);
    margin-bottom: 20px;
}
  .form-container > .social-btn{
      margin-top: 0;
    
  }
  .social-btn > input[type=submit] {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 40%;
      margin-left: 200px;
      margin-bottom: 10px;
      margin-top: 0;
      font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: -0.05em;

    color:var(--white);

  }
  .social-btn > .blue-btn{
      background-color:#1B64A8 ;
  }

  .social-btn > .red-btn {
    background:var(--secondary);
  }

  .social-btn > .lblue-btn{
    background:var(--primary);
  }


  
