@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}


/* THE SECTION OF THE GLOBAL VARIABLES */
:root {

    /* THE COLOURS */
    --white: #fff;
    --primary: #2EA2DB;
    --light-blue: #2EA2DB;
    --secondary: #F16051;
    --tetiary: #193651;
    --light: #E5E5E5;
    --deep-light: #C4C4C4;
    --main: #F29C1F;
    --black: #000;




    /* THE FONT-FAMILIES */
    --mont: 'Montserrat';
    --sans: "DM Sans";
    --mukta: 'Mukta';


    /* SHADOWS AND TRANSITIONS */
    --shadows: 0px 22px 24px rgba(65, 111, 244, 0.2);
    --shadoos: 0px 0px 7px rgba(65, 111, 65, 0.2);
    --shadow: 15px 15px 25px #ddd;
    --transition: all 0.3s linear;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.text-center {
    /* it will be used as utility class */
    text-align: center;
}


/* ================Create a file for whatever you worked on======================== */


/* START YOUR CSS FROM HERE */

.container {
    margin: auto;
    max-width: 1265px;
    overflow: auto;
    padding: 0px;
    background-color: var(--white);
}
/* Terms and Conditions Title */
#tc_title {
    background: #193651;
    width: 1265px;
    height: 130px;
   
}
#tc_title .tc_title h1 {
    background-color: #193651;
    color: white;
    position: absolute;
    width: 600px;
    height: 50px;
    padding: 10px;
    margin: 40px 60px;
   
    font-family: Eagle Lake;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 39px;

}
/* Terms and conditions image */
#tc_img .tc_img img{
  
    width: 1265px;
    height: 500px;
}

/* Terms and Conditions content */

#tc_body  {
   
    width: 1200px;
    height: 500px;
    padding: 50px;
    margin: 30px;
    background-color:  var(--white);
}

#tc_body .tc_body  h1 {
    width: 400px;
    padding: 10px ;
    margin-bottom: 30px;
    font-family:var(--sans)
}

#tc_body .tc_body  p {
    margin: 10px 0;
    font-size: 18px;
    font-family:var(--sans)
}

/* Footer  */
.row {
    display: flex;
    flex-wrap: wrap;
    background-color: coral;
}
.footer {
    background: #2EA2DB;
    padding: 70px 0px;
    margin: auto;
    max-width: 1265px;
    overflow: auto;

}

.footer-col h4 {
    color: white;
}
.footer-col ul {
    list-style: none;
    color: white;
}

.footer-col {
    width: 25%;
    padding: 0 35px;
}

.copyright {
    background: #2EA2DB;
    margin: 20px;
}

.copyright p {
    text-align: center;
}


/* ===========TO USE THE VARIABLE CHECK THE EXAMPLES BELOW====================== */
/* color:var(--white);
  background:var(--primary);
  transition:var(--transition);
  box-shadow:var(--shadoos);
  font-family:var(--mukta); */

/* =============FOLLOW THE EXAMPLES ABOVE==================================== */


/* THE SECTION OF THE NAVIGATIONAL BAR */
.navbar {
    padding: 29px 35px 33px 12px;

}
.navbar > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navbar-nav .dropdown {
    margin-left: 95px;
    background-color: var(--light);
    color: var(--light-blue);
    font-size: 18px;
    line-height: 30px;
}
.navbar-nav .dropdown .nav-link span {
    margin-left: 1rem;
    font-family: var(--mont);
    font-weight: bold;
}
.navbar-nav .dropdown .nav-link img {
    width: 20px;
}
.navbar .container-fluid .navbar-collapse form input {
    width: 300px;
}
.navbar .container-fluid .navbar-collapse form img {
    right: 15px;
    top: 8px;
    width: 20px;
}
.navbar .container-fluid .navbar-collapse div a {
    background-color: var(--primary);
    text-decoration: none;
    padding: 8px 10px;
    color: var(--white);
    font-family: Poppins;
    font-weight: 600;
}
.navbar .container-fluid .navbar-collapse div a:last-child {
    background-color: var(--secondary);
    margin-left: 20px;
}

@media only screen and (min-width: 767px) {
    .navbar {
        padding: 29px 51px 33px 25px;
    }
}
/* THE END OF THE NAVIGATIONAL BAR */


/* THE BEGINNING OF THE HERO SECTION */
.hero {
	position: relative;
	color: var(--white);
	margin: auto;
}
.hero-img {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.hero-img img {
	min-width: 100vw;
	max-height: 120vh;
}

/*hero Caption text */
.hero .content {
    position: absolute;
    top: 16vw;
    left: 18vw;
}

.hero .content h2 {
	font-size: 50px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    /* line-height: 90px; */
    color: var(--white);
}
.hero .content h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 84.2337px;
    margin-top: -20px;
    /* line-height: 103px; */
    color: var(--primary);
    /* border: 3.50161px solid #FFFFFF; */
}
.hero .content h3 span img {
    width: 60px;
}

.hero .content p {
    font-family: Eagle Lake;
    font-style: normal;
    font-weight: normal;
    font-size: 23.9743px;
    line-height: 30px;
    color: var(--white);
    margin-bottom: 3rem;
}
.hero .content a {
    background-color: var(--secondary);
    color: var(--white);
    text-decoration: none;
    padding: 12px;
    font-weight: bold;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    background-color: var(--secondary);
    width: 30px;
    height: 30px;
    padding: 0 6px;
    margin: 0px 8px 0px 8px;
    color: var(--white);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 50%;
    text-decoration: none;
}
.prev img, .next img {
    width: 18px;
}
/* Position the "next button" to the right */
.next {
    right: 0;
}
.prev:hover, .next:hover {
    background-color: var(--primary);
}
/* THE END OF THE HERO SECTION */


/* ===================================================== */
/* THE BEGINNING OF THE MAIN SECTION */
main {
    overflow-x: hidden !important;
}

main .what-we-offer-1 {
    background-color: var(--light-blue);
    padding: 30px 50px;
    overflow-x: hidden !important;
    color: var(--white);
}

main .what-we-offer-2 {
    padding: 50px 50px 80px;
    background: rgba(46, 162, 219, 0.13);
}

main .what-we-offer-2 .card {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    border: none;
}

main .what-we-offer-2 .card img {
    margin: 10px auto 0;
}

main .what-we-offer-2 .card .card-title {
    font-size: 18px;
}

@media only screen and (max-width: 575px) {
    main .what-we-offer-1,
    main .what-we-offer-2 {
        padding: 40px 20px;
    }
}


/* THE END OF THE MAIN SECTION */