*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.psword-container {
    position: absolute;
    width: 729px;
    justify-content: center;
    height: 400px;
    padding-top: 10px;
    left: 380px;
    top: 70px;
    background: rgba(46, 162, 219, 0.13);
  border: 1px solid var(--black);
  box-sizing: border-box;
  
    margin: auto;
    overflow: auto;
  }
  
  .psword-container hr {
    position: absolute;
    width: 100%;
    height: 0px;
    top: 50px;
  
    border: -1px solid var(--black);
  }
  .psword-container  p {
        position: absolute;
        left: 240px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: -0.05em;
        
        color: var(--secondary);
    }
  
  .content{
    position: absolute;
    left: 220px;
    top: 100px;
    width: 40%;
  }

  
 input[type=password] {
    width: 100%;
    top: 150px;
    padding: 12px 20px;
    margin: 8px 0;
    display: flex;
    border: 1px solid var(--deep-light);
    border-radius: 4px;
    box-sizing: border-box;
  } 
  
  /* Style the submit button */
  input[type=submit] {
    width: 100%;
    left: 30px;
    background-color: var(--light);
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
    color: white;
    padding: 14px 10px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  } 
  
  /* Add a background color to the submit button on mouse-over */
 .submit-btn > input[type=submit]:hover {
    background-color: var(--light);
  }